---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import CoolBackground from '@src/components/CoolBackground.astro';
// TODO loading spinner
// TODO update URL string and redo search when loading
---
<NavbarLayout title="Search">
  <div class="container tw-container">
    <div class="search">
      <input name="q" class="form-input" type="text" placeholder="Search..." 
        hx-trigger="keyup changed delay:500ms"
        hx-target="#results"
        hx-post="/blog/search-results"
      />

      <div class="results" id="results">
      </div>
    </div>

  </div>
  <CoolBackground />
</NavbarLayout>

<style lang="scss">
  @import "../../style/mixins.scss";

  .container {
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-fluid-2) 0;

    .search {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: var(--size-fluid-10);
        margin-bottom: var(--size-fluid-2);
        font-size: var(--font-size-fluid-2);
      }

      .results {
        font-family: var(--font-body);
        padding: 0 var(--size-fluid-1);
        width: var(--size-fluid-10);

        // must be global because the results are rendered
        // on the server at request time, and it doesn't have
        // the identifiers for scoped styles
        :global(.result) {
          margin: var(--size-fluid-2) 0;
          padding-bottom: var(--size-fluid-2);

          &:not(.not-found) {
            border-bottom: 1px solid var(--colour-accent);
          }

          :global(a) {
            text-decoration: underline;
            @include hover-link($subtle: true);
          }

          :global(.title) {
            font-family: var(--font-display);
            font-size: var(--font-size-3);
            margin-bottom: var(--size-fluid-1);
          }

          :global(.body) {
            list-style-type: disc;
            list-style-position: inside;
            font-size: var(--font-size-2);
          }

          :global(mark) {
            background: inherit;
            font-weight: 700;
            font-style: italic;
            color: var(--colour-accent);
          }
        }
      }
    }
  }
</style>
