---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import CoolBackground from '@src/components/CoolBackground.astro';
import SearchResults from '@src/components/search/SearchResults.astro';
---
<NavbarLayout title="Search">
  <div class="container tw-container">
    <div class="search">

      <form x-data="searchQuery" x-ref="formRef"
        hx-trigger="init-query, submit"
        hx-target="#results"
        hx-post="/blog/search-results"
        hx-indicator=".indicator"
      >
        <input id="q" name="q" class="form-input" type="text" placeholder="Search..."
          x-model="q" />

        {/* TODO - rearrange layout */}
        <fieldset class="toggles">
          <legend>Include:</legend>
          <label for="includeBlog">
            <input name="includeBlog" id="includeBlog" type="checkbox"
              x-model="includeBlog">
            </input>
            Blog posts
          </label>
          <label for="includeQuotes">
            <input name="includeQuotes" id="includeQuotes" type="checkbox"
              x-model="includeQuotes">
            </input>
            Quotes
          </label>
        </fieldset>

        <button type="submit" class="button" x-on:click="updateQueryString()">Search</button>
      </form>

      <sl-spinner id="spinner" class="indicator">
      </sl-spinner>

      <div class="results indicator" id="results">
        {/* This is a trick to get the scoped styles in the SearchResults component
        to render into the stylesheet. It doesn't get generated otherwise because it's a partial
        that's not prerendered.
        */}
        <SearchResults results={[]} q="" />
      </div>
    </div>

  </div>
  <CoolBackground />

</NavbarLayout>

<style lang="scss">
  @import "../../style/mixins.scss";

  .container {
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-fluid-2) 0;

    .search {
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        display: flex;
        gap: var(--size-3);
        align-items: center;
        margin-bottom: var(--size-fluid-2);

        input#q {
          width: var(--size-fluid-10);
          font-family: var(--font-body);
        }

        input[type="checkbox"] {
          margin-right: var(--size-1);
        }

        .toggles {
          display: flex;
          gap: var(--size-3);
        }
      }

      sl-spinner {

        opacity: 0;
        font-size: 0;
        --track-width: 5px;
        --track-color: var(--colour-foreground);
        --indicator-color: var(--colour-accent);
        --speed: 2.5s;

        transition: opacity 500ms ease-in-out;

        &.htmx-request {
          font-size: var(--font-size-fluid-5);
          opacity: 1;
        }
      }

      .results {
        width: var(--size-fluid-10);

        @include sm-up {
          width: var(--size-fluid-12);
        }

        &.htmx-request {
          opacity: 0;
        }

      }
    }
  }
</style>
