---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import CoolBackground from '@src/components/CoolBackground.astro';
import SearchResults from '@src/components/search/SearchResults.astro';
---
<NavbarLayout title="Search">
  <div class="container tw-container">
    <div class="search">
      <input id="q" name="q" class="form-input" type="text" placeholder="Search..."
        hx-trigger="keyup changed delay:500ms, init-query"
        hx-target="#results"
        hx-post="/blog/search-results"
        hx-indicator=".indicator"
        x-data="searchQuery"
        x-on:keyup="updateQueryString"
      />

      <sl-spinner id="spinner" class="indicator">
      </sl-spinner>

      <div class="results indicator" id="results">
        {/* This is a trick to get the scoped styles in the SearchResults component
        to render into the stylesheet. It doesn't get generated otherwise because it's a partial
        that's not prerendered.
        */}
        <SearchResults results={[]} q="" />
      </div>
    </div>

  </div>
  <CoolBackground />

</NavbarLayout>

<style lang="scss">
  @import "../../style/mixins.scss";

  .container {
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-fluid-2) 0;

    .search {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: var(--size-fluid-10);
        margin-bottom: var(--size-fluid-2);
        font-family: var(--font-body);
      }

      sl-spinner {

        opacity: 0;
        font-size: 0;
        --track-width: 5px;
        --track-color: var(--colour-foreground);
        --indicator-color: var(--colour-accent);
        --speed: 2.5s;

        transition: opacity 500ms ease-in-out;

        &.htmx-request {
          font-size: var(--font-size-fluid-5);
          opacity: 1;
        }
      }

      .results {
        width: var(--size-fluid-10);

        @include sm-up {
          width: var(--size-fluid-12);
        }

        &.htmx-request {
          opacity: 0;
        }

      }
    }
  }
</style>
