---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import { getCollection } from 'astro:content';
import uniqBy from 'lodash/uniqBy';
import last from 'lodash/last';
import CoolBackground from '@src/components/CoolBackground.astro';
import slugify from '@sindresorhus/slugify';

const quoteshelf = await getCollection('cmsQuoteshelf');

type Author = {
  name: string;
  slug: string;
  sortName: string;
};

const authors : Author[] = uniqBy(quoteshelf.map((book) => {
  const { author } = book.data;
  return {
    name: author,
    slug: slugify(author),
    sortName: book.data.sortName,
  };
}), 'slug');

function getNameForSorting(author: Author) {
  if (author.sortName) return author.sortName;

  const lastName = last(author.name.split(' '));
  return lastName;
}

authors.sort((a, b) => {
  const aName = getNameForSorting(a);
  const bName = getNameForSorting(b);
  return aName.localeCompare(bName);
});

---

<NavbarLayout title="Quoteshelf">
  <div class="container"
    x-data="{ bgShift: -1, bgHover: 0 }"
    x-bind:data-bg-shift="bgShift"
    x-bind:data-bg-hover="bgHover">

    <h1>Author Index</h1>

    <div class="authors">
      { authors.map((author, index) => (
      <p
        x-on:mouseenter={`bgHover = 1; bgShift = ${index} % 20;`}
        x-on:mouseleave="bgHover = 0">
        <a href={`/quoteshelf/${author.slug}`}>{author.name}</a>
      </p>
      ))}
    </div>

  </div>
  <CoolBackground />
</NavbarLayout>

<style lang="scss">
  @import "../../style/mixins.scss";

  .container {
    padding: var(--size-fluid-4);
  }

  .authors {
    column-count: 2;
    @include sm-up {
      column-count: 4;
    }

    p {
      margin-bottom: var(--size-2);
    }
  }

</style>
