---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import uniqBy from 'lodash/uniqBy';


const quoteshelf = await getCollection('quoteshelf');
const quotes = uniqBy(quoteshelf, 'data.titleSlug');

---

<NavbarLayout title="Cover gallery">
  <div class="container">
  { quotes.map((quote) => (
    <sl-card>
      <div>
      { quote.data.coverUrl ? (
        <Image src={quote.data.coverUrl} alt={quote.data.title} inferSize />
      ) : (
        <span>No image</span>
      )}
      </div>
      <div slot="footer"><em>{quote.data.title}</em></div>
    </sl-card>
  ))}
  </div>
</NavbarLayout>

<style lang="scss">

.container {
  gap: var(--size-5);
  padding: var(--size-fluid-4);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

</style>
