---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import RandomQuotes from '@src/components/quoteshelf/RandomQuotes.astro';

---
<NavbarLayout title="Quoteshelf">
  <div class="container tw-container">
    <h1>Quoteshelf</h1>
    <h2>A collection of quotes from books that I've read</h2>

    <p>For an index of authors, click <a href="/quoteshelf/authors">here</a>.</p>

    <div class="randomizer">
      <RandomQuotes />
    </div>

  </div>

</NavbarLayout>

<style lang="scss">

  .randomizer {
    border: 1px solid blue;
    flex: 1 1;
    max-height: 50vh;

    width: var(--size-content-3);
    overflow: auto;
  }

  .container {
    padding: var(--size-fluid-4);
    display: flex;
    flex-direction: column;

  }

</style>
