---
import slugify from '@sindresorhus/slugify';
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import { getCollection } from 'astro:content';
import { renderMarkdown } from '@src/markdown';
import random from 'lodash/random';

const quoteshelf = await getCollection('quoteshelf');

type Quote = {
  quote: string,
  title: string,
  author: string,
  coverUrl: string,
  link: string,
}

const allQuotes : Quote[] = quoteshelf.reduce((memo, book) => {
  const quotesForBook : Quote[] = book.data.quotes.map((quote) => {
    return {
      quote: quote,
      title: book.data.title,
      author: book.data.author,
      coverUrl: book.data.coverUrl,
      link: `/quoteshelf/${slugify(book.data.author)}`,
    };
  });
  return [...memo, ...quotesForBook];
}, []);

const indices = new Set<number>();
while (indices.size < 5) {
  indices.add(random(0, allQuotes.length - 1));
}

const selectedQuotes = Array.from(indices).map((index) => allQuotes[index]);

---
<NavbarLayout title="Quoteshelf">
  <div class="container tw-container">
    <h1>Quoteshelf</h1>
    <h2>A collection of quotes from books that I've read</h2>

    <p>For an index of authors, click <a href="/quoteshelf/authors">here</a>.</p>

    <div class="randomizer">
    { selectedQuotes.map((quote) => (
      <div class="quote">
        <div class="quote-text">
          <p set:html={renderMarkdown(quote.quote)}></p>
        </div>
        <div class="quote-title">
          <p>{quote.title} - {quote.author}</p>
        </div>
      </div>
    ))}
    </div>
  </div>

</NavbarLayout>

<style lang="scss">

  .container {
    padding: var(--size-fluid-4);
    display: flex;
    flex-direction: column;

    .randomizer {
      border: 1px solid blue;
      flex: 1 1;
      max-height: 50vh;

      width: var(--size-content-3);
      overflow: auto;
    }
  }

  .quote {
    padding: var(--size-3);

    .quote-text {
      margin-bottom: var(--size-2);
    }

    .quote-title {
      font-style: italic;
    }
    border-bottom: 1px solid var(--colour-accent);
  }

</style>
