---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import slugify from '@sindresorhus/slugify';

export const getStaticPaths = (async () => {
  const quoteshelf = await getCollection('quoteshelf');
  const paths = quoteshelf.map((book) => {
    return {
      params: { 
        author: slugify(book.data.author),
        book: slugify(book.data.title),
      },
    };
  });

  return paths;
}) satisfies GetStaticPaths;

const { author: authorParam, book: bookParam } = Astro.params;
const quoteshelf = await getCollection('quoteshelf');
const bookData = quoteshelf.find((b) => {
  return authorParam === slugify(b.data.author) && 
    bookParam === slugify(b.data.title);
});

const { title, author, quotes }  = bookData?.data ?? {};
---
<p>this is the page for {title} by {author}</p>
<p>they said:</p>
<ul>
  {
    quotes?.map((quote) => {
      return <li>{quote}</li>;
    })
  }
</ul>