---
import Layout from '@src/layouts/Layout.astro';
import CoolBackground from '@src/components/CoolBackground.astro';
import NotFound from '@src/components/NotFound.astro';
import { getCMSBlogEntries, getLinkToPost } from '@src/utils';
import { stripMarkdown } from '@src/markdown';
import PostShuffler from '@src/components/PostShuffler.svelte';
import { DateTime } from 'luxon';

const posts = await getCMSBlogEntries();
const summaries : BlogEntrySummary[] = posts.map((post) => ({
  title: stripMarkdown(post.data.title),
  url: getLinkToPost(post),
  date: post.data.date,
}));

---
<Layout title="Albert Choi">
  <div class="container fade-in"
    x-data="{ bgShift: -1, bgHover: 0 }"
    x-bind:data-bg-shift="bgShift"
    x-bind:data-bg-hover="bgHover">
    <!-- menu and title -->
    <div class="title">
      <NotFound />
    </div>

    <div class="subtitle">
      <div>Go back to <a href="/">Home Page</a></div>
      <div>Or click below for a random blog post!</div>
    </div>

    <div class="menu"
      x-on:mouseenter="bgHover = 1"
      x-on:mouseleave="bgHover = 0">
      <PostShuffler client:load posts={summaries} />
    </div>

  </div>

  <CoolBackground />
</Layout>

<style lang="scss">
  @import "../style/mixins.scss";

  .container {

    a {
      @include hover-link;
      text-decoration: underline;
    }
    animation-duration: 1000ms;

    min-width: 100vw;
    min-height: 100vh;

    display: grid;
    align-items: center;
    align-content: center;
    --justification: center;

    grid-template-areas:
      "title"
      "subtitle"
      "menu";

    @include sm-up {
      grid-template-areas:
        "title"
        "subtitle"
        "menu";
      grid-template-columns: auto;
    }

    .title {
      justify-self: var(--justification);
      grid-area: title;
      width: 70%;
      margin-bottom: var(--size-fluid-4);
    }

    .subtitle {
      grid-area: subtitle;
      justify-self: var(--justification);

      font-family: var(--font-display);
      font-size: var(--font-size-fluid-2);
      text-align: center;
      margin-bottom: var(--size-fluid-2);
    }

    .menu {
      grid-area: menu;
      width: 100%;
    }

  }
</style>
