---
import CoolBackground from "@src/components/CoolBackground.astro";
import Social from "@src/components/Social.astro";
import NavbarLayout from "@src/layouts/NavbarLayout.astro";

---
<NavbarLayout title="Contact">
  <div class="tw-container container">

    <div x-data="alertMessage()" class="alert">
      <sl-alert variant="success" 
        x-bind:open="success" closable duration="5000"
        x-on:sl-hide="clearAlert()">

        <sl-icon slot="icon" name="check2-circle"></sl-icon>
        Thank you for your message!
      </sl-alert>
      <sl-alert variant="danger" 
        x-bind:open="error" closable duration="5000"
        x-on:sl-hide="clearAlert()">

        <sl-icon slot="icon" name="exclamation-octagon"></sl-icon>
        Sorry, we couldn't send your message. Please try again later.
      </sl-alert>
    </div>

    <h1>Want to get in touch? Please do!</h1>

    <form method="POST" action="/api/contact">
      <div class="field">
        <label for="name">Your Name</label>
        <input class="form-input" id="name" name="name" type="text" required />
      </div>
  
      <div class="field">
        <label for="email">Your E-mail</label>
        <input class="form-input" id="email" name="email" type="email" required />
      </div>
  
      <div class="field">
        <label for="message">Message</label>
        <textarea class="form-input" id="message" name="message" required></textarea>
      </div>

      <div class="field altcha">
        <altcha-widget challengeurl="/api/challenge">
        </altcha-widget>
      </div>
  
      <div class="field">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>

    <div class="social">
      <Social />
    </div>
  </div>
  <CoolBackground />
</NavbarLayout>

<style lang="scss">
  @import "../style/mixins.scss";
  .container {
    margin: 0 auto;
    width: var(--size-fluid-10);
    padding: var(--size-fluid-2);

    font-family: var(--font-display);

    .alert {
      margin-bottom: var(--size-fluid-2);
    }

    h1 {
      font-size: var(--font-size-fluid-3);
    }

    .field {
      margin-top: var(--size-fluid-3);
      width: 100%;

      display: flex;
      flex-direction: column;

      label {
        margin-bottom: var(--size-1);
        font-size: var(--font-size-fluid-1);
      }

      input {
        font-size: var(--font-size-1);
      }
      textarea {
        font-size: var(--font-size-1);
      }

    }

    .field.altcha {
      margin-top: var(--size-fluid-1);
      align-items: flex-end;
    }

    button {
      font-size: var(--font-size-fluid-1);

      width: 50%;
      align-self: flex-end;
    }

    .social {
      margin-top: var(--size-fluid-3);
    }
  }
</style>
