---
import CoolBackground from "@src/components/CoolBackground.astro";
import Social from "@src/components/Social.astro";
import NavbarLayout from "@src/layouts/NavbarLayout.astro";

---
<NavbarLayout title="Contact">
  <div class="tw-container container">

    <h1>Want to get in touch? Please do!</h1>

    <form method="POST" action="/api/contact">
      <div class="field">
        <label for="name">Your Name</label>
        <input class="form-input" id="name" name="name" type="text" required />
      </div>
  
      <div class="field">
        <label for="email">Your E-mail</label>
        <input class="form-input" id="email" name="email" type="email" required />
      </div>
  
      <div class="field">
        <label for="message">Message</label>
        <textarea class="form-input" id="message" name="message" required></textarea>
      </div>
  
      <div class="field">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>

    <div class="social">
      <Social />
    </div>
  </div>
  <CoolBackground />
</NavbarLayout>

<style lang="scss">
  @import "../style/mixins.scss";
  .container {
    margin: 0 auto;
    width: var(--size-fluid-10);
    padding: var(--size-fluid-2);

    font-family: var(--font-display);

    h1 {
      font-size: var(--font-size-fluid-3);
    }

    .field {
      margin-top: var(--size-fluid-3);
      width: 100%;

      display: flex;
      flex-direction: column;

      label {
        margin-bottom: var(--size-1);
        font-size: var(--font-size-fluid-1);
      }

      input {
        font-size: var(--font-size-1);
      }
      textarea {
        font-size: var(--font-size-1);
      }
    }

    button {
      font-size: var(--font-size-fluid-1);

      width: 50%;
      align-self: flex-end;
    }

    .social {
      margin-top: var(--size-fluid-3);
    }
  }
</style>
