---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';

const MENU = [
  { name: 'Blog', url: '/blog' },
  { name: 'Code', url: '/code' },
  { name: 'Prose', url: '/prose' },
];
---
<Layout title="Albert Choi">

  <div class="container">
    <!-- menu and title -->
    <div class="title">
      <Logo />
    </div>

    <!-- headshot -->
    <div class="headshot">
      <img src="/images/headshot.jpg" alt="headshot" />
    </div>

    <div class="subtitle">
      I write code and sometimes prose.
    </div>

    <div class="menu">
      {MENU.map(({ name, url }) => (
        <a class="menu-item" href={url}>{name}</a>
      ))}
    </div>

    <div class="background-pattern"></div>

  </div>
</Layout>

<style lang="scss">
  .container {
    margin-top: 20%;
    display: flex;
    flex-direction: column;

    align-items: center;

    overflow: clip;

    & > * {
      margin: var(--size-3);
    }

    .title {
      width: 70%;
    }

    .headshot {
      width: 60%;
      img {
        border-radius: 100%;
        border: var(--size-1) solid var(--highlight);
      }
    }

    .subtitle {
      color: var(--secondary);
      font-family: var(--font-display);
      font-size: var(--font-size-4);
      text-align: center;
    }

    .menu {
      color: var(--secondary);
      font-family: var(--font-display);
      font-size: var(--font-size-3);
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      .menu-item {
        margin: var(--size-1) var(--size-1);

        &:hover {
          color: var(--highlight);
        }
      }
    }

    .background-pattern {
      background-image: radial-gradient(
        var(--primary-mid) 9%, 
        transparent 9%
      );
      background-position: 0% 0%;
      background-size: 12vmin 12vmin;
      height: 100vh;
      left: 0px;
      position: absolute;
      top: 0px;
      transition: opacity 800ms ease, 
        background-size 800ms ease,
        background-position 800ms ease;
      width: 100vw;
      z-index: -1;
    }
  }
</style>
