---
import Layout from '@src/layouts/Layout.astro';
import Logo from '@src/components/Logo.astro';
import CoolBackground from '@src/components/CoolBackground.astro';
import { Picture } from '@astrojs/image/components';

const MENU = [
  { name: 'Blog', url: '/blog' },
  { name: 'Code', url: '/code' },
  { name: 'Prose', url: '/prose' },
];
---
<Layout title="Albert Choi">
  <div class="container" 
    x-data="{ bgShift: -1, bgHover: 0 }"
    x-bind:data-bg-shift="bgShift"
    x-bind:data-bg-hover="bgHover">
    <!-- menu and title -->
    <div class="title">
      <Logo />
    </div>

    <!-- headshot -->
    <div class="headshot">
      <Picture 
        src="/images/headshot.jpg" 
        alt="Albert"
        widths={[350, 450]}
        aspectRatio="1:1"
        sizes="(min-width: 480px) 450px, 350px"
      />
    </div>

    <div class="subtitle">
      I write code and sometimes prose.
    </div>

    <div class="menu" 
      x-on:mouseenter="bgHover = 1"
      x-on:mouseleave="bgHover = 0">
      {MENU.map(({ name, url }, index) => (
        <a class="menu-item" href={url} x-on:mouseover={`bgShift = ${index}`}>{name}</a>
      ))}
    </div>
  </div>

  <CoolBackground />
</Layout>

<style lang="scss">
  @import "../style/common.scss";

  .container {
    // todo do more with animation
    @include fade-in;
    animation-duration: 1000ms;

    min-width: 100vw;
    min-height: 100vh;

    display: grid;
    align-items: center;
    align-content: center;
    --justification: center;

    grid-template-areas:
      "title"
      "headshot"
      "subtitle"
      "menu";

    @include sm-up {
      --justification: end;
      grid-template-areas:
        "title headshot"
        "subtitle headshot"
        "menu headshot";
      grid-template-columns: repeat(2, 50%);
    }

    .title {
      justify-self: var(--justification);
      grid-area: title;
      width: 70%;
      margin-bottom: var(--size-fluid-4);
    }

    .headshot {
      grid-area: headshot;
      place-self: center;

      width: 60%;
      max-width: 720px;
      margin-bottom: var(--size-fluid-4);

      img {
        border-radius: 100%;
        //border: var(--size-1) solid var(--highlight);
      }
    }

    .subtitle {
      grid-area: subtitle;
      justify-self: var(--justification);

      font-family: var(--font-display);
      font-size: var(--font-size-fluid-2);
      text-align: center;
      margin-bottom: var(--size-fluid-4);
    }

    .menu {
      grid-area: menu;
      justify-self: var(--justification);

      width: 100%;

      --menu-align: center;
      @include sm-up {
        --menu-align: flex-end;
      }
      
      font-family: var(--font-display);
      font-size: var(--font-size-fluid-2);
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: var(--menu-align);

      .menu-item {
        margin: var(--size-fluid-1) var(--size-fluid-1);
        text-decoration: underline;

        transition: transform 0.25s ease-in;

        &:hover {
          color: var(--highlight);
          transform: scale(150%);
          transition: transform 0.25s ease-out;
        }
      }
    }

  }
</style>
