---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';

const MENU = [
  { name: 'Blog', url: '/blog' },
  { name: 'Code', url: '/code' },
  { name: 'Prose', url: '/prose' },
];
---
<Layout title="Albert Choi">
  <div class="container" x-data="{ menuHover: 0 }">
    <section class="main">
      <!-- menu and title -->
      <div class="title">
        <Logo />
      </div>

      <!-- headshot -->
      <div class="headshot left">
        <img src="/images/headshot.jpg" alt="headshot" />
      </div>

      <div class="subtitle">
        I write code and sometimes prose.
      </div>

      <div class="menu" x-bind:data-menu-hover="menuHover">
        {MENU.map(({ name, url }, index) => (
          <a class="menu-item" href={url} x-on:mouseover={`menuHover = ${index}`}>{name}</a>
        ))}

        <div class="background-pattern"></div>
      </div>

    </section>

    <section>

      <div class="headshot right">
        <img src="/images/headshot.jpg" alt="headshot" />
      </div>

    </section>
  </div>
</Layout>

<style lang="scss">
  @import "../style/breakpoints.scss";

  .container {
    min-width: 100vw;
    min-height: 100vh;

    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    @include sm-up {
      grid-template-columns: repeat(2, 50%);
    }

    section {

      --section-align: center;

      @include sm-up {
        &.main {
          --section-align: flex-end;
        }
      }

      display: flex;
      flex-direction: column;
      align-items: var(--section-align);
    }

    .title {
      width: 70%;
      margin-bottom: var(--size-fluid-4);
    }

    .headshot {
      width: 60%;
      max-width: 720px;
      margin-bottom: var(--size-fluid-4);

      img {
        border-radius: 100%;
        //border: var(--size-1) solid var(--highlight);
      }

      &.left {
        @include sm-up {
          display: none;
        }
      }

      &.right {
        display: none;
        @include sm-up {
          display: block;
        }
      }
    }

    .subtitle {
      color: var(--secondary);
      font-family: var(--font-display);
      font-size: var(--font-size-fluid-2);
      text-align: center;
      margin-bottom: var(--size-fluid-4);
    }

    .menu {

      width: 100%;

      --menu-align: center;
      @include sm-up {
        --menu-align: flex-end;
      }
      
      color: var(--secondary);
      font-family: var(--font-display);
      font-size: var(--font-size-fluid-2);
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: var(--menu-align);

      .menu-item {
        margin: var(--size-fluid-1) var(--size-fluid-1);
        text-decoration: underline;

        transition: transform 0.25s ease-in;

        &:hover {
          color: var(--highlight);
          transform: scale(150%);
          transition: transform 0.25s ease-out;
        }
      }
    }

    .background-pattern {
      opacity: 50%;
      --background-width: 100%;
      @include sm-up {
        --background-width: 50%;
      }
      --pattern-colour: var(--primary-mid);

      background-image: radial-gradient(
        var(--pattern-colour) 15%, 
        transparent 15%
      );
      background-position: 0% 0%;
      background-size: var(--size-fluid-5) var(--size-fluid-5);
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      transition: opacity 800ms ease, 
        background-size 800ms ease,
        background-position 800ms ease,
        background-image 800ms ease;
      width: var(--background-width);
      z-index: -1;
    }

    .menu[data-menu-hover="0"] > .background-pattern {
      background-position: 0% -25%;
    }
    .menu[data-menu-hover="1"] > .background-pattern {
      background-position: 0% 0%;
    }
    .menu[data-menu-hover="2"] > .background-pattern {
      background-position: 0% 25%;
    }

    .menu-item:hover ~ .background-pattern {
      background-size: var(--size-fluid-6) var(--size-fluid-6);
      opacity: 100%;
    }

  }
</style>
