---
import NavbarLayout from '@src/layouts/NavbarLayout.astro';
import Search from '@src/components/Search.svelte';
---
<NavbarLayout title="Search">
  <div class="container tw-container">
    <Search client:load />
  </div>
</NavbarLayout>

<style lang="scss">
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-fluid-2) 0;
  }
</style>
