---
import { getCollection, render } from 'astro:content';
import { getImage } from 'astro:assets';
import { JSDOM } from 'jsdom';
import jquery from 'jquery';

const posts = await getCollection('blog2');

async function loadImage(id : string | null) {
  if (!id) return null;

  const image = await getImage({
    src: `https://cms.alchoi.dev/assets/${id}`,
    format: 'webp',
    inferSize: true,
  });

  return image.src;
}

async function processInlineImages(html : string) {
  const dom = new JSDOM(html);
  //console.log('dom', dom.window);
  const $ = jquery(dom.window);

  const images = $('img');

  for (const element of images) {

    const src = $(element).attr('src');
    console.log('src', src);

    const image = await getImage({
      src,
      format: 'webp',
      inferSize: true,
    });

    $(element).attr('src', image.src);
  }

  return dom.window.document.documentElement.outerHTML;
}

---
<div>
{ posts.map(async (post) => {
  //const { Content, ...rest } = await render(post);
  //console.log('here', rest);
  console.log('metadata', post.rendered.metadata);
  console.log('html', post.rendered.html);
  console.log('image', post.data.image);

  const image = await loadImage(post.data.image);
  const html = await processInlineImages(post.rendered.html);

  return (
  <div>
    <p>{ post.data.title }</p>
    { image &&
    <div>
      <img src={image} alt={post.data.title} />
    </div>
    }
    <div set:html={html}>
    </div>
  </div>
  <hr/>
  );
})}
</div>
