---
import { renderMarkdown } from '@src/markdown';
import type { CollectionEntry } from 'astro:content';

interface Props {
  quote: string
}

function getFontSize(quote : string) : number {
  if (quote.length < 100) {
    return 4;
  } else if (quote.length < 200) {
    return 3;
  } else if (quote.length < 250) {
    return 2;
  }
  return 1;
}

const { quote } = Astro.props;

const fontSize = getFontSize(quote);
const style = {
  '--font-size': `var(--font-size-${fontSize})`,
  '--font-family': Math.random() > 0.5 ? 'var(--font-body)' : 'var(--font-classy)',
};

const italicize = Math.random() > 0.5;

---
<div
  style={style}
  class:list={{ italicize }}
  set:html={renderMarkdown(quote)}>

</div>

<style lang="scss">

  div {
    font-size: var(--font-size);
    font-family: var(--font-family);

    &.italicize {
      font-style: italic;

      :global(em) {
        font-style: normal;
      }
    }
  }

</style>
