@mixin sm-up {
  @media screen and (min-width: 480px) {
    @content
  }
}

@mixin hover-background($a: var(--primary), $b: var(--primary-light), $c: var(--highlight)) {
  position: relative;
  z-index: 1;
  background: linear-gradient(to top left, $a, $b);
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: var(--size-2);

    background: linear-gradient(to bottom right, $a, $c);

    opacity: 0;
    transition: opacity 1000ms var(--ease-out-5);
  }
  &:hover::before {
    opacity: 1;
  }

  border-radius: var(--size-2);
}

@mixin hover-link($subtle: false) {

  @if not $subtle {
    &:hover {
      font-weight: 800;
      font-style: italic;
      letter-spacing: 2px;
    }
  } @else {
    &:hover {
      color: var(--highlight);
    }
  }

  transition: font-weight,letter-spacing 200ms var(--ease-out-1) !important;
}

@mixin fade-in {
  opacity: 0;
  animation: var(--animation-fade-in) forwards;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

@mixin image-hover {
  transition: transform 500ms var(--ease-squish-5);

  &:hover {
    transform: scale(105%);
  }
}

@mixin form-input($font-size: var(--font-size-5)) {
  font-size: $font-size;
  border-radius: var(--radius-2);
  padding: var(--size-fluid-1);
  color: var(--primary);
  font-family: var(--font-display);

  &:focus {
    border-color: var(--highlight);
  }
}

@mixin button {
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2);
  background: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--primary-mid);

  &:hover {
    background: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--highlight);
    text-shadow: 2px 2px 5px var(--highlight);
  }
}