@mixin sm-up {
  @media screen and (min-width: 480px) {
    @content
  }
}

@mixin hover-background {
  position: relative;
  z-index: 1;
  background: linear-gradient(to top left, var(--primary), var(--primary-light));
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: var(--size-2);

    background: linear-gradient(to bottom right, var(--primary), var(--highlight));

    opacity: 0;
    transition: opacity 1000ms var(--ease-out-5);
  }
  &:hover::before {
    opacity: 1;
  }

  border-radius: var(--size-2);
}