@mixin sm-up {
  @media screen and (min-width: 480px) {
    @content
  }
}

@mixin hover-link($subtle: false) {

  @if not $subtle {
    &:hover {
      font-weight: 800;
      font-style: italic;
      letter-spacing: 2px;
    }
  } @else {
    &:hover {
      color: var(--colour-accent);
    }
  }

  transition: font-weight,letter-spacing 200ms var(--ease-out-1) !important;
}
