:root {

  --font-display: 'NunitoVariable', var(--font-sans);
  --font-body: 'Libre FranklinVariable', var(--font-sans);
  --font-code: 'InconsolataVariable', var(--font-mono);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --font-size-fluid--2: clamp(0.78rem, calc(0.78rem + 0.02vw), 0.80rem);
  --font-size-fluid--1: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
  --font-size-fluid-0: clamp(1.13rem, calc(1.10rem + 0.13vw), 1.25rem);
  --font-size-fluid-1: clamp(1.35rem, calc(1.31rem + 0.21vw), 1.56rem);
  --font-size-fluid-2: clamp(1.62rem, calc(1.55rem + 0.33vw), 1.95rem);
  --font-size-fluid-3: clamp(1.94rem, calc(1.84rem + 0.50vw), 2.44rem);
  --font-size-fluid-4: clamp(2.33rem, calc(2.19rem + 0.72vw), 3.05rem);
  --font-size-fluid-5: clamp(2.80rem, calc(2.60rem + 1.02vw), 3.82rem);
}

html:not(.light) {
  /* preview at: https://realtimecolors.com/?colors=e9ecef-16191d-a2aeae-e0dcdc-6d7d7e */

  --colour-bg-h: 214deg;
  --colour-bg-s: 14%;
  --colour-bg-l: 10%;

  --colour-foreground: #e9ecef;
  --colour-background: hsl(var(--colour-bg-h) var(--colour-bg-s) var(--colour-bg-l));
  --colour-primary: #a2aeae;
  --colour-secondary: #e0dcdc;
  --colour-accent: #6d7d7e;

  /* 
    in the below line, there's a hard-coded colour of --pattern-colour
    can't use the variable inside the data URL
    #e9ecef
  */
  --cool-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23e9ecef' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html.light {

  --colour-bg-h: 210deg;
  --colour-bg-s: 16%;
  --colour-bg-l: 93%;

  /* preview here: https://realtimecolors.com/?colors=191615-e9ecef-a2aeae-e0dcdc-6d7d7e */
  --colour-foreground: #191615;
  --colour-background: hsl(var(--colour-bg-h) var(--colour-bg-s) var(--colour-bg-l));
  --colour-primary: #a2aeae;
  --colour-secondary: #e0dcdc;
  --colour-accent: #6d7d7e;

  /* #37b24d */
  --cool-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2337b24d' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* override the colour choices of tailwind typography plugin */
.tw-prose {
  --tw-prose-body: var(--secondary);
  --tw-prose-headings: var(--secondary);
  --tw-prose-lead: var(--secondary);
  --tw-prose-links: var(--secondary);
  --tw-prose-bold: var(--secondary);
  --tw-prose-counters: var(--secondary);
  --tw-prose-bullets: var(--secondary);
  --tw-prose-hr: var(--secondary);
  --tw-prose-quotes: var(--highlight);
  --tw-prose-quote-borders: var(--highlight);
  --tw-prose-captions: var(--secondary);
  --tw-prose-code: var(--secondary);
  --tw-prose-pre-code: var(--secondary);
  --tw-prose-pre-bg: var(--secondary);
  --tw-prose-th-borders: var(--secondary);
  --tw-prose-td-borders: var(--secondary);
}

.tw-prose pre.astro-code {
  font-family: var(--font-code);
}

.tw-prose code {
  font-family: var(--font-code);
}

.tw-prose :where(h1,h2,h3,h4,h5,h6) {
  font-family: var(--font-display);
}

sl-rating {
  --symbol-color-active: var(--highlight);
  --symbol-color: var(--primary);
  --symbol-size: var(--size-3);
}
