:root {

  --font-display: 'Josefin Sans Variable', var(--font-sans);
  --font-body: 'Rubik Variable', var(--font-sans);
  --font-code: 'IBM Plex Mono', var(--font-mono);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --font-size-fluid--2: clamp(0.78rem, calc(0.78rem + 0.02vw), 0.80rem);
  --font-size-fluid--1: clamp(0.94rem, calc(0.93rem + 0.06vw), 1.00rem);
  --font-size-fluid-0: clamp(1.13rem, calc(1.10rem + 0.13vw), 1.25rem);
  --font-size-fluid-1: clamp(1.35rem, calc(1.31rem + 0.21vw), 1.56rem);
  --font-size-fluid-2: clamp(1.62rem, calc(1.55rem + 0.33vw), 1.95rem);
  --font-size-fluid-3: clamp(1.94rem, calc(1.84rem + 0.50vw), 2.44rem);
  --font-size-fluid-4: clamp(2.33rem, calc(2.19rem + 0.72vw), 3.05rem);
  --font-size-fluid-5: clamp(2.80rem, calc(2.60rem + 1.02vw), 3.82rem);

  --navbar-height: var(--size-fluid-5);
  scroll-behavior: smooth;
}

html:not(.light) {
  /* preview at: https://realtimecolors.com/?colors=e9ecef-16191d-a2aeae-e0dcdc-6d7d7e */

  --colour-bg-h: 214deg;
  --colour-bg-s: 14%;
  --colour-bg-l: 10%;

  --colour-foreground: #e9ecef;
  --colour-background: hsl(var(--colour-bg-h) var(--colour-bg-s) var(--colour-bg-l));
  --colour-primary: #a2aeae;
  --colour-secondary: #e0dcdc;

  --colour-accent-h: 184deg;
  --colour-accent-s: 7%;
  --colour-accent-l: 46%;

  --colour-accent: hsl(var(--colour-accent-h) var(--colour-accent-s) var(--colour-accent-l));

}

html.light {

  --colour-bg-h: 210deg;
  --colour-bg-s: 16%;
  --colour-bg-l: 93%;

  /* preview here: https://realtimecolors.com/?colors=191615-e9ecef-a2aeae-e0dcdc-6d7d7e */
  --colour-foreground: #191615;
  --colour-background: hsl(var(--colour-bg-h) var(--colour-bg-s) var(--colour-bg-l));
  --colour-primary: #a2aeae;
  --colour-secondary: #e0dcdc;
  --colour-accent: #6d7d7e;
}

/* override the colour choices of tailwind typography plugin */
.tw-prose {
  --tw-prose-body: var(--colour-foreground);
  --tw-prose-headings: var(--colour-foreground);
  --tw-prose-lead: var(--colour-foreground);
  --tw-prose-links: var(--colour-foreground);
  --tw-prose-bold: var(--colour-foreground);
  --tw-prose-counters: var(--colour-foreground);
  --tw-prose-bullets: var(--colour-foreground);
  --tw-prose-hr: var(--colour-foreground);
  --tw-prose-quotes: var(--colour-primary);
  --tw-prose-quote-borders: var(--colour-accent);
  --tw-prose-captions: var(--colour-foreground);
  --tw-prose-code: var(--colour-foreground);
  --tw-prose-pre-code: var(--colour-foreground);
  --tw-prose-pre-bg: var(--colour-foreground);
  --tw-prose-th-borders: var(--colour-foreground);
  --tw-prose-td-borders: var(--colour-foreground);
}

.tw-prose pre.astro-code {
  font-family: var(--font-code);
}

.tw-prose code {
  font-family: var(--font-code);
}

.tw-prose :where(h1,h2,h3,h4,h5,h6) {
  font-family: var(--font-display);
}

/* centering YouTube embeds, e.g. */
.tw-prose iframe {
  margin: 0 auto;
}

.tw-prose blockquote {
  /* don't use italics */
  font-style: normal;
}

.tw-prose.blog-post img {
  max-height: 65vh;
  width: auto;
  margin: 0 auto;

}

/* this prevents footnotes from disappearing under the navbar when you click on the anchor links */
:target {
  padding-top: var(--navbar-height);
  margin-top: calc(-1 * var(--navbar-height));
}

sl-rating {
  --symbol-color-active: hsl(var(--colour-accent-h) var(--colour-accent-s) calc(var(--colour-accent-l) * 1.6));
  --symbol-color: hsl(var(--colour-accent-h) var(--colour-accent-s) calc(var(--colour-accent-l) * 0.5));
  --symbol-size: var(--size-3);
}

h1, h2, h3 {
  text-wrap: balance;
}

/* I don't like the big "Footnotes" header */
section.footnotes {
  border-top: 1px solid var(--colour-foreground);
  font-size: smaller;
}
section.footnotes h2 {
  display: none;
}