:root {
  --primary: var(--gray-10);
  --primary-mid: var(--gray-9);
  --primary-light: var(--gray-8);

  --secondary: var(--gray-2);

  --highlight: #9cb295;

  --font-display: 'Special Elite', var(--font-sans);
}