.button {
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2);
  background: var(--colour-primary);
  color: var(--gray-10);
  border: 2px solid var(--colour-background);

  &:hover {
    background: var(--colour-secondary);
    border: 2px solid var(--colour-accent);
    text-shadow: 2px 2px 5px var(--colour-accent);
  }
}

.form-input {
  border-radius: var(--radius-2);
  padding: var(--size-fluid-1);
  color: var(--colour-foreground);
  background-color: var(--colour-background);
  font-family: var(--font-display);
  border: 1px solid var(--colour-foreground);
  box-shadow: 0 0 var(--size-2) 0 var(--colour-accent);

  &:focus {
    border-color: var(--colour-accent);
  }
}

.image-hover {
  transition: transform 500ms var(--ease-squish-5);

  &:hover {
    transform: scale(105%);
  }
}

.card {
  border-radius: var(--radius-3);
  background-color: hsl(var(--colour-bg-h) var(--colour-bg-s) calc(var(--colour-bg-l) * 1.7));

  box-shadow: none;

  &:hover {
    box-shadow: 0 0 var(--size-2) 0 var(--colour-accent);
    background-color: hsl(var(--colour-bg-h) var(--colour-bg-s) calc(var(--colour-bg-l) * 1.2));
  }

  &.wave {
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
      position: absolute;
      content: '';

      background-repeat: no-repeat;
      background-size: auto 250%;

      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      transform: none;
      transition: transform 200ms var(--ease-out-1);
      z-index: -1;
    }

    &.left::before {
      background-image: url('/images/wave.svg');
      transform-origin: left center;
    }

    &.right::before {
      background-image: url('/images/wave-right.svg');
      background-position-x: right;
      transform-origin: right center;
    }

    &:hover::before {
      transform: scale(200%);
      filter: blur(10px);
    }
  }
}

.fade-in {
  opacity: 0;
  animation: var(--animation-fade-in) forwards;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.author {
  font-family: var(--font-display);
  font-weight: 300;
  font-size: var(--font-size-fluid-3);
  &::before {
    content: 'by ';
  }
}

.container {
  overflow-x: hidden;
}

// apply this to blog post content
.tw-prose {
  a {
    @include hover-link($subtle: true);
  }
}

.responsive-gallery {
  --min: 15ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.spoiler {
  color: transparent;
  border: 1px dotted var(--colour-accent);
  border-radius: var(--radius-2);
  position: relative;

  &::selection {
    color: var(--colour-background);
    background-color: var(--colour-foreground);
  }
}