---
---
<div class="cool-background"></div>

<style lang="scss" is:global>
  @import "../style/common.scss";

  .cool-background {
    opacity: 10%;
    --background-width: 100%;
    @include sm-up {
      --background-width: 50%;
    }
    --pattern-colour: var(--primary-mid);

    // in the below line, there's a hard-coded colour of --pattern-colour
    // can't use the variable inside the data URL
    // #e9ecef
    // attribution: "Death Star" pattern on https://heropatterns.com/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23e9ecef' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 0% 0%;
    background-size: var(--size-fluid-8) var(--size-fluid-8);
    height: 100%;
    right: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease,
      background-image 800ms ease;
    width: var(--background-width);
    z-index: -1;
  }

  @for $i from 0 through 20 {
    *[data-bg-shift="#{$i}"] ~ .cool-background {
      background-position: 0% calc($i * 150px);
    }
  }

  *[data-bg-hover="1"] ~ .cool-background {
    background-size: var(--size-fluid-9) var(--size-fluid-9);
    opacity: 60%;
  }
</style>