---
---
<div class="cool-background"></div>

<style lang="scss" is:global>
  @import "../style/mixins.scss";

  .cool-background {
    opacity: 10%;
    --background-width: 100%;
    @include sm-up {
      --background-width: 50%;
    }

    // attribution: "Death Star" pattern on https://heropatterns.com/
    background-image: var(--cool-background);
    background-position: 0% 0%;
    background-size: var(--size-fluid-8) var(--size-fluid-8);
    background-repeat: repeat;

    height: 100%;
    min-height: 100vh;

    right: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease,
      background-image 800ms ease;
    width: var(--background-width);
    z-index: -10;
  }

  @for $i from 0 through 20 {
    *[data-bg-shift="#{$i}"] ~ .cool-background {
      background-position: 0% calc($i * 150px);
    }
  }

  *[data-bg-hover="1"] ~ .cool-background {
    background-size: var(--size-fluid-9) var(--size-fluid-9);
    opacity: 60%;
  }
</style>