---
import { getLinkToPost } from '@src/utils';

interface Props {
  post : BlogCollectionEntry | CapsuleCollectionEntry;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const identifier = getLinkToPost(Astro.props.post);
---

<div id="disqus_thread"></div>
<script is:inline define:vars={{ canonicalURL, identifier }}>
    var disqus_config = function () {
      this.page.url = canonicalURL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = identifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://alchoi.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>