---
import { renderMarkdown } from '@src/markdown';

const { md } = Astro.props;

const html = 
  renderMarkdown(md)
    .replace('<p>', '')
    .replace('</p>', '');

---

<Fragment set:html={html} />