---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  project: CollectionEntry<'code'>;
}

const { project } = Astro.props;
---
<div>
  <sl-carousel pagination navigation loop>
  { project.data.images.map(async (image) => {

    return (
      <sl-carousel-item class="project-carousel-item">
        <Image src={image}
          width={800}
          alt={project.data.title}
          loading="lazy"
        />
      </sl-carousel-item>
    );
  })}
  </sl-carousel>
</div>

<style lang="scss">
  sl-carousel-item {
    img {
      cursor: pointer;
    }
  }
</style>