---
import { getPicture } from '@astrojs/image';
import type { CollectionEntry } from 'astro:content';
import find from 'lodash/find';

interface Props {
  project: CollectionEntry<'code'>;
}

const { project } = Astro.props;
---
<div>
  <sl-carousel pagination navigation loop>
  { project.data.images.map(async (image) => {
    const picture = await getPicture({
      src: image,
      alt: project.data.title,
      widths: [400, 800],
      aspectRatio: '16:9',
      formats: ['webp'],
    });

    const srcset = find(picture.sources, { type: 'image/webp' })?.srcset;

    return (
      <sl-carousel-item class="project-carousel-item">
        <img srcset={srcset} 
          sizes="(min-width: 480px) 800px, 400px" 
          alt={project.data.title}
          loading="lazy"
        />
      </sl-carousel-item>
    );
  })}
  </sl-carousel>
</div>

<style lang="scss">
  sl-carousel-item {
    img {
      cursor: pointer;
    }
  }
</style>