---
import CoolBackground from './CoolBackground.astro';
import ShowcaseItem from './ShowcaseItem.astro';

interface Props {
  items: any[];
}
const { items } = Astro.props;
---
<section>
  {items.map((item) => (
    <ShowcaseItem item={item} />
  ))}
</section>
<CoolBackground />

<style lang="scss">
  section {
  }
</style>