---
import { getCollection } from 'astro:content';
import union from 'lodash/union';
import CoolBackground from './CoolBackground.astro';
import Search from './icons/Search.astro';

interface Props {
  selectedTag?: string;
}

const posts = await getCollection('blog');
const tags = posts.reduce<string[]>((memo, post) => {
  return union(memo, post.data.tags ?? []);
}, []).sort();

const { selectedTag } = Astro.props;
---
<section x-data="{ bgShift: -1, bgHover: 0 }"
  x-bind:data-bg-shift="bgShift"
  x-bind:data-bg-hover="bgHover"
  x-on:mouseenter="bgHover = 1"
  x-on:mouseleave="bgHover = 0">

  {tags.map((tag, index) => (
    <span class:list={{'selected': selectedTag === tag}}>
      <span class="symbol"></span>
      <a href={`/blog/tag/${tag}`}
        x-on:mouseover={`bgShift = ${index}`}>
        {tag}
      </a>
    </span>
  ))}
  <span class:list={{'selected': !selectedTag }}>
    <span class="symbol"></span>
    <a href="/blog"
      x-on:mouseover={`bgShift = ${tags.length}`}>
      all
    </a>
  </span>
</section>
<CoolBackground />

<div class="search">
  <a href="/blog/search">
    <span class="icon"><Search /></span>Search
  </a>
</div>


<style lang="scss">
  @import "../style/common.scss";
  section {

    width: 100%;
    @include sm-up {
      margin-left: var(--size-10);
    }

    font-size: var(--font-size-fluid-0);

    --direction: row;
    @include sm-up {
      --direction: column;
    }

    display: flex;
    flex-direction: var(--direction);
    flex-wrap: wrap;
    justify-content: center;

    .symbol {
      margin-left: var(--size-1);
      &::before {
        content: '\b7';
      }
    }

    & > span.selected {
      color: var(--highlight);
      .symbol::before {
        content: '\2192'; // show an arrow
      }
    }

    a {
      text-decoration: underline;
      @include hover-link;
    }

  }
  .search {
    @include button;

    margin-top: var(--size-fluid-1);

    @include sm-up {
      align-self: flex-start;
      margin-left: var(--size-8);
    }

    a {
      display: flex;
      align-items: center;
      .icon {
        margin-right: var(--size-2);
      }
    }
  }

</style>