---
interface Props {
  tags: string[],
}

const { tags } = Astro.props;
---
<ul>
  {tags.map((tag, index) => (
    <li>
      <a href={`/blog/tag/${tag}`}>{tag}</a>
      {index < tags.length - 1 && (
        <span>&nbsp;/&nbsp;</span>
      )}
    </li>
  ))}
</ul>

<style lang="scss">
  @import "../style/mixins.scss";

  ul {
    font-family: var(--font-display);
    font-size: var(--font-size-fluid-0);
    display: flex;

    li {
      text-transform: uppercase;
      a {
        text-decoration: underline;
        @include hover-link;
      }

    }
  }
</style>