---
interface Props {
  tags: string[],
  justify?: 'left' | 'right',
}

const { tags } = Astro.props;
const justify = Astro.props.justify ?? 'left';

---
<ul style={{ '--justification' : justify === 'left' ? 'flex-start' : 'flex-end' }}>
  {tags.map((tag, index) => (
    <li>
      <a href={`/blog/tag/${tag}`}>{tag}</a>
      {index < tags.length - 1 && (
        <span>&nbsp;/&nbsp;</span>
      )}
    </li>
  ))}
</ul>

<style lang="scss">
  @import "../style/mixins.scss";

  ul {
    font-family: var(--font-display);
    font-size: var(--font-size-fluid-0);
    display: flex;
    flex-wrap: wrap;

    --justification: flex-start;
    justify-content: var(--justification);

    li {
      text-transform: lowercase;
      font-variant: small-caps;
      a {
        text-decoration: underline;
        @include hover-link;
      }

    }
  }
</style>