---
import Navbar from '@src/components/Navbar.astro';
import Layout from '@src/layouts/Layout.astro';

interface Props {
  title: string
}

const { title } = Astro.props;
---
<Layout title={title}>
  <Navbar />
  <div class="body">
    <slot />
  </div>
</Layout>

<style lang="scss">
  // this is needed because the CoolBackground absolute position
  // won't size properly unless it's here
  .body {
    position: relative;
  }
</style>