---
import Navbar from '@src/components/Navbar.astro';
import Layout from '@src/layouts/Layout.astro';
import type { Props as LayoutProps } from '@src/layouts/Layout.astro';

interface Props extends LayoutProps {
};

const { title, meta } = Astro.props;
---
<Layout title={title} meta={meta}>
  <Navbar />
  <div class="body">
    <slot />
  </div>
</Layout>

<style lang="scss">
  // this is needed because the CoolBackground absolute position
  // won't size properly unless it's here
  .body {
    position: relative;
  }
</style>