# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          timeout_minutes: 10
          command: |
            flyctl deploy --remote-only \
              --build-secret "OPENSEARCH_API=${{ secrets.OPENSEARCH_API }}" \
              --build-secret "DIRECTUS_URL=${{ secrets.DIRECTUS_URL }}" \
              --build-secret "DIRECTUS_TOKEN=${{ secrets.DIRECTUS_TOKEN }}" \
              --no-cache
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
